body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


table {
  border: 1px solid #DDD;
}
.table.table-striped > tbody > tr:nth-child(2n+1) > td {
  background: #eaeeff;
}
.table.table-striped > tbody > tr:nth-child(2n) > td {
  background: #fefffe;
}

.flashes {
  width: 40%;
  margin: 10px auto;
}

.top-buffer {
  margin-top:20px;
}

.invisible {
  visibility: hidden;
  width: 0;
  height: 0;
}

.clickable {
  cursor: pointer;
}

.clickable a {
  color: inherit;
}

.clickable:hover {
  opacity: 0.8;
}

.results textarea {
  resize: none;
  height: 500px;
}
