{% extends "layout.html" %}
{% block body %}
    <h1>Hadoooooooop!</h1>

    <form method="post" enctype="multipart/form-data" action="/upload">
        <h2>jar File</h2>
        <input type="file" id="file-input" name="file" style="display: none;">
        <button type="button" class="btn btn-primary" id="file-btn">ファイルを選択</button>
        <script type="text/javascript">

        </script>
        <button type="submit" class="btn btn-success">アップロード</button>
    </form>

		<table class="table table-striped">
			<tbody>
				<tr>
					<th>id</th>
					<th>filename</th>
					<th>status</th>
				</tr>
      {% for job in jobs %}
				<tr>
          <td>{{ job.id }}</td>
					<td>{{ job.filename }}</td>
					<td>{{ job.human_status() }}</td>
				</tr>
      {% endfor %}
			</tbody>
		</table>

{% endblock %}
