<!doctype html>
<html>
<head>
    <title>Hadoop Manager</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/static/style.css' />
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
      {% include 'flash.html' %}

      {% block body %}
      {% endblock %}
    </div>

    <script src="/static/jquery-2.1.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>
